@page
@using MeetAdl.Models;
@model MeetAdl.Pages.Groups.JoinModel
@{
    ViewData["Title"] = "MeetAdl - " + Model.Group.Name;
}

<h1>
    @Model.Group.Name
</h1>
<form>
    <h2>Join Group?</h2>
    <label asp-for="JoinMessage" class="control-label">(optional) Why would you like to join this group?</label>
    <input asp-for="JoinMessage" class="form-control" />
    <span asp-validation-for="JoinMessage" class="text-danger"></span>
    <input type="submit" asp-action="save" asp-route-id="@Model.Group.Id" value="Join" class="btn btn-primary p-2 m-2" />
</form>
