@page
@model MeetAdl.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "MeetAdl - Profile";
}
<h1>Profile</h1>

<p>Name: @Model.ProfileDetails.DisplayName</p>
<p>Email: @Model.ProfileDetails.Email</p>